@page "/realmadrid"

<PageTitle>Counter</PageTitle>

<h1>Real Madrid</h1>


<section id="history">
    <h2>Historia Klubu</h2>
    <p>
        Real Madrid Club de Fútbol, założony w 1902 roku, jest jednym z najbardziej utytułowanych klubów piłkarskich na świecie.
        Klub ma na swoim koncie wiele krajowych i międzynarodowych tytułów, w tym rekordową liczbę zwycięstw w Lidze Mistrzów UEFA.
        Real Madrid słynie z białych strojów i imponującej listy legendarnych zawodników, takich jak Alfredo Di Stéfano, Ferenc Puskás,
        Cristiano Ronaldo, i wielu innych. Klub jest również znany ze swojego stadionu, Santiago Bernabéu, który jest jednym z najbardziej
        rozpoznawalnych stadionów piłkarskich na świecie.
    </p>
</section>


<section id="photos">
    <h2>Zdjęcia</h2>
    <div class="photo-gallery">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZkJXFNgHw8zegRG_vC6Iq4U4w8cinCuVJ3BsN1BH-_Q&s" alt="Stadion Santiago Bernabéu" width="300">
        <img src="https://www.realmadryt.pl/static/images/photo/6211686e-4be7-4def-befa-5c075419cbfd.jpg" alt="Drużyna Real Madrid" width="300">
        <img src="https://www.realmadryt.pl/static/images/photo/3ac48bba-d873-4cd3-bad8-625a03c93c59.jpg" alt="Trofea Real Madrid" width="300">
    </div>
</section>

<section id="players">
    <h2>Piłkarze Realu Madryt</h2>
    <p>
        Bramkarze:
Thibaut Courtois (Belgia)
Andriy Lunin (Ukraina)
Kepa Arrizabalaga (Hiszpania)
Diego Piñeiro (Hiszpania)
Fran González (Hiszpania)
Lucas Cañizares (Hiszpania)
Obrońcy:
Dani Carvajal (Hiszpania)
Éder Militão (Brazylia)
David Alaba (Austria)
Nacho Fernández (Hiszpania)
Fran García (Hiszpania)
Antonio Rüdiger (Niemcy)
Ferland Mendy (Francja)
Rafel Obrador (Hiszpania)
Álvaro Carrillo (Hiszpania)
Vinicius Tobias (Brazylia)
Marvelous Antolín Garzón (Hiszpania)
Pomocnicy:
Jude Bellingham (Anglia)
Toni Kroos (Niemcy)
Luka Modrić (Chorwacja)
Eduardo Camavinga (Francja)
Federico Valverde (Urugwaj)
Lucas Vázquez (Hiszpania)
Aurélien Tchouameni (Francja)
Dani Ceballos (Hiszpania)
Brahim Díaz (Hiszpania)
Arda Güler (Turcja)
Mario Martín (Hiszpania)
Nico Paz (Hiszpania)
Théo Zidane (Francja)
Napastnicy:
Vinícius Júnior (Brazylia)
Rodrygo (Brazylia)
Joselu (Hiszpania)
Álvaro Rodríguez (Hiszpania)
Gonzalo (Hiszpania)
    </p>
</section>

<section id="history">
    
    <p>
       Bartosz Bień nr albumu 104980
    </p>
</section>

<style>
    #history {
        margin: 20px 0;
    }

       #players {
        margin: 20px 0;
    }

    #photos {
        margin: 20px 0;
    }

    .photo-gallery {
        display: flex;
        gap: 10px;
    }

    .photo-gallery img {
        border: 2px solid #ccc;
        border-radius: 5px;
    }
</style>